<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Synchronized Slider</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			// sending a connect request to the server.
			var socket = io.connect('https://10.192.33.252:5001');

			socket.on('after connect', function(msg){
            	console.log('After connect', msg);
            });

            // Send to others
			// An event handler for a change of value
			//$('input.sync').on('input', function(event) {
            //    socket.emit('Slider value changed', {who: $(this).attr('id'), data: $(this).val()});
            //    return false;
            //});

            // Receive from others and apply changes
            //socket.on('update value', function(msg) {
            //	console.log('Slider value updated');
            //    $('#'+msg.who).val(msg.data);
            //});


            function accelerometerUpdate(event) {
//
                var aX = event.accelerationIncludingGravity.x*1;
                var aY = event.accelerationIncludingGravity.y*1;
                var aZ = event.accelerationIncludingGravity.z*1;
                //The following two lines are just to calculate a
                // tilt. Not really needed.
                //xPosition = Math.atan2(aY, aZ);
                //yPosition = Math.atan2(aX, aZ);
                console.log(aX, aY, aZ);
                socket.emit('Slider value changed', {"aX": aX, "aY": aY, "aZ": aZ});
            }
            window.addEventListener("devicemotion", accelerometerUpdate, true);

            //const acl = new Accelerometer({ frequency: 60 });
            //acl.addEventListener("reading", () => {
            //    console.log(`Acceleration along the X-axis ${acl.x}`);
            //    console.log(`Acceleration along the Y-axis ${acl.y}`);
            //    console.log(`Acceleration along the Z-axis ${acl.z}`);
//
            //    socket.emit('Slider value changed', {"x":acl.x, "y":acl.y, "z":acl.z});
            //});

            //acl.start();

		});




    </script>
</head>
<body>
<div class="container text-center">
    <!--
    <h1>Slider Demo</h1>
    <form class="mt-5">
        <div class="form-group">
            <label for="formControlRange">Demo Slider 1</label>
            <input type="range" class="form-control-range sync" id="slider1" min="0" max="50" value="{{slider1}}">
        </div>
        <div class="form-group">
            <label for="formControlRange">Demo Slider 2</label>
            <input type="range" class="form-control-range sync" id="slider2" min="0" max="50" value="{{slider2}}">
        </div>
    </form>
    -->
</div>
</body>
</html>