body{
    background-color: antiquewhite;
}


img {
    max-width:100%;
    height:auto;
    max-height:100%;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  